# GWIT WAAS DEPLOYMENT ENV
SITE_NAME=gwit
PRIMARY_DOMAIN=www.gwit.ci
DEFAULT_LOCALE=fr
SECONDARY_LOCALES=en
SITE_ROOT=templates/template_01/site
STATIC_ASSETS_PATH=templates/template_01/site/assets
DATA_PATH=templates/template_01/site/data
SITEMAP_PATH=templates/template_01/site/sitemap.xml
ROBOTS_PATH=templates/template_01/site/robots.txt
